<div>
    <p>
        <strong>COMAL RIVER<br/> The Comal River,</strong> said to be the shortest river in the United States, 
        rises in a number of large springs in New Braunfels in southeastern Comal County (at 29°43' N, 98°08' W) 
        and flows southeast for three miles to its mouth on the Guadalupe River, also in New Braunfels (at 29°42' N, 98°07' W). 
        It has a number of small islands in its upper reaches, and its course crosses an area of the Balcones Escarpment 
        characterized by low relief surfaces and moderately deep to deep sandy and clay loam soils that support live oak 
        and Ashe juniper woods. Most of the land around the river has been developed by the city of New Braunfels or has
        been converted to cropland. The Comal was called the Guadalupe by some early Spanish explorers, two of whom, 
        Domingo Ramón and the Marquésde San Miguel de Aguayo, knew the river in its lower regions. The name Guadalupe 
        was still used as late as 1727, but after Pedro de Rivera y Villalón identified the longer stream as the Guadalupe, 
        the shorter was given the name Comal, Spanish for "flat dish," for the landscape along the riverbed. The abundant 
        and reliable flow of the Comal provided power for the early industry of New Braunfels-gristmills and sawmills as 
        well as flour and textile mills. With the development of alternative sources of power after 1900, much of the 
        property along the banks of the river was converted to municipal parkland, including Landa Park and Prince Solms Park.
    </p>
</div>