<div>
    <p>
        <strong>DIVING IN THE POOR KNIGHTS ISLANDS<br/> The Poor Knights Islands</strong> are a group 
        of islands off the east coast of the Northland Region of the North Island of New Zealand. 
        They lie 50 kilometres (31 mi) to the north-east of Whangarei, and 22 kilometres (14 mi) 
        offshore halfway between Bream Head and Cape Brett. Uninhabited since the 1820s, they are a nature
         reserve and popular underwater diving spot, with boat tours typically departing from Tutukaka. 
         The Poor Knights Islands Marine Reserve surrounds the island. Beaglehole (1955) comments that 
         the origin of the island name is not clear, and speculates that the name could be related to the
          Poor Knights of Windsor, or, that the islands were named for their resemblance to Poor Knight's
           Pudding, a bread-based dish topped with egg and fried, popular at the time of discovery by Europeans.
    </p>
</div>