<div>
    <p>
        <strong>GLACIER BAY<br/> A glacier is born,</strong> high in the mountains,
         where the only precipitation that falls is snow, and the snow that falls does 
         not melt away each year. A slight depression on the mountainside catches this snow.
          Year after year, the snowflakes pile up into a deep snowpack. Soon the sheer weight 
          \of this vast accumulation presses down on itself, deforming the snowflakes beneath. 
          The snow compresses. The fluffy flakes first change to granular snow - like round ice
           grains - and eventually morph into solid ice. Glacier ice is different from the ice 
           in your refrigerator. The ice crystals form slowly under pressure and individual crystals
            can grow to be the size of a football. Air trapped between the snowflakes is also frozen 
            into the ice at pressure. Ice near the bottom of the glacier is under tremendous pressure,
             which allows it to flow almost like a plastic over the bedrock beneath. Friction between 
             the glacier and the bedrock produces meltwater which further lubricates the bedrock allowing 
             the ice to slide. Eventually, the weight of the ice is too much for the depression to hold 
             against gravity and the ice begins to slowly flow downhill seeking equilibrium. Now that
              it is moving, it's a glacier.
    </p>
</div>