<div>
    <p>
        <strong>AGGIELAND HUMANE SOCIETY<br/> What do volunteers do?</strong> Volunteers help 
        with animal socialization and training, special events, administrative tasks, and many 
        other activities here at the shelter. They also have the opportunity to take classes and 
        receive specialized training. The most important thing our volunteers do is have fun!
    </p>
    <p>
        <strong>How I old do I have to be to volunteer?</strong> We welcome volunteers between 
        the ages of 9 and 15 to volunteer with their parent or guardian. Volunteers between the 
        ages of 16 and 17 must attend orientation with a parent, but can then volunteer on their own. 
        Volunteers over the age of 18 can volunteer with us after attending orientation.
    </p>
</div>