<div>
    <p>
        <strong>STINGRAYS<br/> Stingrays</strong> are a group of sea rays, which are cartilaginous 
        fish related to sharks. They are classified in the suborder Myliobatoidei of the order Myliobatiformes
         and consist of eight families: Hexatrygonidae (sixgill stingray), Plesiobatidae (deepwater stingray),
          Urolophidae (stingarees), Urotrygonidae (round rays), Dasyatidae (whiptail stingrays), Potamotrygonidae
           (river stingrays), Gymnuridae (butterfly rays), and Myliobatidae (eagle rays).
    </p>
        <br/>
    <p>
          <strong>Stingrays</strong> are common in coastal tropical and subtropical marine waters throughout the world. 
          Some species, such as Dasyatis thetidis, are found in warmer temperate oceans, and others, 
          such as Plesiobatis daviesi, are found in the deep ocean. The river stingrays, and a number 
          of whiptail stingrays (such as the Niger stingray), are restricted to fresh water. Most myliobatoids
           are demersal (inhabiting the next-to-lowest zone in the water column), but some, such as the pelagic
            stingray and the eagle rays, are pelagic.
    </p>
</div>