<button class="btn btn-outline-info my-2 my-sm-0" onclick="addNewVideo();" style="float: right; margin: 1rem; width: 200px;">Add New Video</button>
<h3>This is the Admin | Content page.</h3>
<p>Information about all content can be found here.</p>

          

            
            <div class="container">
                <div class="col-md-8 d-flex justify-content-center row" style="padding: 2em">
                    <input type="text" id="filterVideosInput" placeholder="Type Video Name to Filter" onkeyup="filterVideos();" value="" style="width: 80%;">
                </div> 
            </div>



        <div class="col-sm-12">
            <ul id="displayVideos" style="list-style: none;">
                {{!-- <li id="puppiesVideoDiv" data-descriptor="video-li" data-video-name="Puppies at Aggieland Humane Society">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/94bh0196mvs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                <li id="kittensVideoDiv" data-descriptor="video-li" data-video-name="Kittens at Aggieland Humane Society">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/WwFzm4y6HUc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                 <li id="diveTrainingStillVideoDiv" data-descriptor="video-li" data-video-name="Dive Training Still">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/w_kOjEO_hNI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                 <li id="diveVideoDiv" data-descriptor="video-li" data-video-name="Dive">
                   <iframe width="560" height="315" src="https://www.youtube.com/embed/dP5YPBYvMoE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                 <li id="nasaVideoDiv" data-descriptor="video-li" data-video-name="NASA">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/yw2DqVGJzdY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                <li id="comalRiverVideoDiv" data-descriptor="video-li" data-video-name="Comal River"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4B6neVaZRqc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                <li id="stingrayPoorKnightsVideoDiv" data-descriptor="video-li" data-video-name="Stingray Poor Knights Islands New Zealand">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4RizIoJd8Lo?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                <li id="nasaLabVideoDiv" data-descriptor="video-li" data-video-name="NASA Lab">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/CQvGTO08AxE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                 <li id="divingPoorKnightsVideoDiv" data-descriptor="video-li" data-video-name="Diving in the Poor Knights in New Zealand">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/KDKC6y9ICe4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                 <li id="dotterelsOpoutereBeachVideoDiv" data-descriptor="video-li" data-video-name="Dotterels on Opoutere Beach in New Zealand">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4oiwtXp7If0?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li> --}}
            </ul>
        </div>









  
            <!-- Modal (Edit and Delete confirmation) -->
            <div class="modal fade" id="modalDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body" id="modalDataDiv">
                            
                    </div>
                    <input type="hidden" name="hiddenVideoName" id="hiddenVideoName" value="neutral value">
                    <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-outline-success" id="decisionModalButton">Continue</button>
                
                    </div>
                </div>
                </div>
            </div>





            <!-- Modal (Edit Video after confirmation) -->
            <div class="modal fade" id="modalEDIT" tabindex="-1" role="dialog" aria-labelledby="modalEDITLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalEDITLabel">Edit Video Info: <strong><span id="modalEDIT-videName-title"></span></strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                    <div class="form-group">
                        <label for="modalEDIT-videoName" class="col-form-label">Video Name:</label>
                        <input type="text" class="form-control" id="modalEDIT-videoName">
                    </div>
                    <div class="form-group">
                        <label for="modalEDIT-link" class="col-form-label">Link:</label>
                        <input type="text" class="form-control" id="modalEDIT-link">
                    </div>
                   
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="submitEditModalButton">Save Changes</button>
                </div>
                </div>
            </div>
            </div>





 <!-- Modal (addNewVideoModal) -->
            <div class="modal fade" id="addNewVideoModal" tabindex="-1" role="dialog" aria-labelledby="addNewVideoModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addNewVideoModalLabel">Add New Video</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                            <div class="form-group">
                                <label for="addNewVideoModal-username" class="col-form-label">Video Name:</label>
                                <input type="text" class="form-control" id="addNewVideoModal-name">
                            </div>
                            <div class="form-group">
                                <label for="addNewVideoModal-account" class="col-form-label">Link:</label>
                                <input type="text" class="form-control" id="addNewVideoModal-link">
                            </div>
                            
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" id="submitAddNewVideoModal">Add Video</button>
                        </div>
                        </div>
                    </div>
                    </div>




{{!-- 

        <script>
             function filterVideos() {
                console.log("running filterVideos()")
                var videoInput = document.getElementById('filterVideosInput')
                var typedName = videoInput.value.toLowerCase();

                var divs = document.querySelectorAll('[data-descriptor=video-li]');
                for (var i = 0; i < divs.length; i++) {

                    videoName = divs[i].getAttribute('data-video-name').toLowerCase();
                    divID = divs[i].getAttribute('id');
                    hideMe = document.getElementById(divID);
                    if (videoName.includes(typedName)) {
                        console.log(videoName);
                        hideMe.classList.remove("hideMe");
                    } else {
                        hideMe.classList.add("hideMe")
                    }

                    
                }
             }

            $("#submitAddNewVideoModal").on('click', function() {
                name = $('#addNewVideoModal-name').val()
                link = $('#addNewVideoModal-link').val();
                
                userInfo = {
                    "name": name,
                    "link": link,
                   
                } 
                $("#addNewVideoModal").modal('hide');
                socket.emit('addVideo', userInfo);
                cleanseNewVideoModal();
            }); 
            function addNewVideo() {
                cleanseNewVideoModal();
                $("#addNewVideoModal").modal();
            }
            function cleanseNewVideoModal(){
                $('#addNewVideoModal-name').val("");
                $('#addNewVideoModal-link').val("");
            }

        </script>
 --}}
