{{!--     STEM-VRSE Node.js Web App     Author: Jordan Murphy - 2018      --}}
<h1>FAQs</h1>
<h3>This is the Frequently Asked Questions page.</h3>
<p>Hopefully the answer to your questions will be here.</p>


{{!--  What is STEM-VRSE?  --}}
<p class="question">
  <a data-toggle="collapse" href="#faq-what-is-stemvrse" aria-expanded="false" aria-controls="faq-what-is-stemvrse">
    What is STEM-VRSE?
  </a>
</p>
<div class="collapse" id="faq-what-is-stemvrse">
  <div class="card card-body answer">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>



{{!--  How can I get in touch?  --}}
<p class="question">
  <a data-toggle="collapse" href="#faq-get-in-touch" aria-expanded="false" aria-controls="faq-get-in-touch">
    How can I get in touch?
  </a>
</p>
<div class="collapse" id="faq-get-in-touch">
  <div class="card card-body answer">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>



{{!--  How can I get involved?  --}}
<p class="question">
  <a data-toggle="collapse" href="#faq-get-involved" aria-expanded="false" aria-controls="faq-get-involved">
    How can I get involved?
  </a>
</p>
<div class="collapse" id="faq-get-involved">
  <div class="card card-body answer">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>



{{!--  What if I have an idea for a new video?  --}}
<p class="question">
  <a data-toggle="collapse" href="#faq-new-video-idea" aria-expanded="false" aria-controls="faq-new-video-idea">
    What if I have an idea for a new video?
  </a>
</p>
<div class="collapse" id="faq-new-video-idea">
  <div class="card card-body answer">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>



{{!--  Something is wrong with this website. How can I report a problem?  --}}
<p class="question">
  <a data-toggle="collapse" href="#faq-report-bug" aria-expanded="false" aria-controls="faq-report-bug">
    Something is wrong with this website. How can I report a problem?
  </a>
</p>
<div class="collapse" id="faq-report-bug">
  <div class="card card-body answer">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>



{{!--  I don't see my question here. How can I find the answer?  --}}
<p class="question">
  <a data-toggle="collapse" href="#faq-new-question" aria-expanded="false" aria-controls="faq-new-question">
    I don't see my question here. How can I find the answer?
  </a>
</p>
<div class="collapse" id="faq-new-question">
  <div class="card card-body answer">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>
