
        <h1>Welcome to the STEM-VRSE App</h1>
        <h3>You are successfully logged in.</h3>
          
        <div>
            <p>This is the home page.</p>
            <p>It has some content on it.</p>
            <p>You can do anything you want here if you are logged in.</p>
        </div>



       