
        <h1>Welcome to the STEM-VRSE App</h1>
        <h3>You are successfully logged in.</h3>
          
        <div>
            <p>This is the home page.</p>
            <p>It has some content on it.</p>
            <p>You can do anything you want here if you are logged in.</p>
        </div>


        <div>
            <ul>
                <li>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/94bh0196mvs?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                <li>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/WwFzm4y6HUc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                 <li>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/w_kOjEO_hNI?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                 <li>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/dP5YPBYvMoE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                 <li>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/yw2DqVGJzdY?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                 <li>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4B6neVaZRqc?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                 <li>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4RizIoJd8Lo?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                 <li>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/CQvGTO08AxE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                 <li>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/KDKC6y9ICe4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                 <li>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4oiwtXp7If0?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </li>
                <li>
                    <video id="video" webkit-playsinline="true" x5-video-player-type="h5" x5-video-player-fullscreen="true" playsinline="true" crossorigin="anonymous" preload="auto" class="hide" loop="" src="https://d1cwu1o9pcv4g6.cloudfront.net/x5iUicgDNLOo1ee78rjVNA/1080p/index.mp4"></video>
                </li>
            </ul>
        </div>