<h3>This is the Where in the World page.</h3>
<p>Information about Where in the World your videos were filmed can be found here.</p>
<p><strong>Click on the circles on the map to learn about the videos from those areas!</strong></p>

<div style="padding: 3rem;">
    <svg width="960" height="500"></svg>
</div>
<div id="results">

</div>




    
    <div id="tooltip" class="hidden">
        <p><strong>Click to learn about:</strong></p>
        <ul style="list-style: none;"></ul>
    </div>
