{{!--     STEM-VRSE Node.js Web App     Author: Jordan Murphy - 2018      --}}
<h1>Where in the World page.</h1>
<p><strong>Click on the circles on the map to learn about the videos from those areas!</strong></p>

<div style="padding: 3rem;">
    <svg width="960" height="500"></svg>
</div>




    
    <div id="tooltip" class="hidden">
        <p><strong>Click to learn about:</strong></p>
        <ul style="list-style: none;"></ul>
    </div>



  <div>
    <ul id="displayVideos" style="list-style: none; padding-left: 0;" class="col-xs-10">
        
    </ul>
</div>