{{!--     STEM-VRSE Node.js Web App     Author: Jordan Murphy - 2018      --}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/home">STEM-VRSE Web App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/favorites">Favorites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/where-in-the-world">Where in the World</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/researchers">Researchers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/faqs">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="logout();">Logout</a>
                </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            </nav>

            